[submodule "mothrbox-k8s-core"]
	path = mothrbox-k8s-core
	url = https://github.com/georgegoldman/mothrbox-k8s-core.git
[submodule "mothrbox-cli-core"]
	path = mothrbox-cli-core
	url = https://github.com/georgegoldman/mothrbox-cli-core.git
[submodule "mothrbox-service-core"]
	path = mothrbox_service_core
	url = https://github.com/georgegoldman/mothrbox_service_core.git
[submodule "mothrbox_contract"]
	path = mothrbox_contract
	url = https://github.com/georgegoldman/mothrbox_contract.git
[submodule "mothrbox-frontend"]
	path = mothrbox-frontend
	url = https://github.com/georgegoldman/mothrbox-frontend.git
[submodule "mothrbox-backend"]
	path = mothrbox-backend
	url = https://github.com/georgegoldman/mothrbox-backend.git
[submodule "mothrbox_service_core"]
	path = mothrbox_service_core
	url = https://github.com/georgegoldman/mothrbox_service_core.git
