[submodule "mothrbox-service-core"]
	path = mothrbox-service-core
	url = https://github.com/georgegoldman/mothrbox-service-core.git
[submodule "mothrbox-cli-core"]
	path = mothrbox-cli-core
	url = https://github.com/georgegoldman/mothrbox-cli-core.git
[submodule "mothrbox-k8s-core"]
	path = mothrbox-k8s-core
	url = https://github.com/georgegoldman/mothrbox-k8s-core.git
